@media(max-width: 768px) {
    html {
        background: hsl(257, 40%, 49%) url(../images/bg-mobile.svg) no-repeat center fixed;
        background-size: cover;
    }

    body {
        display: grid;
        grid-template-areas: "logo"
            "template"
            "main"
            "social-media";
        grid-template-columns: repeat(1, 1fr);
    }

    .template .illustration {
        width: 100vh;
        padding: 5.2rem 5.2rem 0;
        margin: auto;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 1rem 5rem;
    }

    .main .title {
        padding: 0;
        font-size: 3rem;
        margin-top: 3rem;
    }

    .main .body {
        margin-top: 1rem;
        padding: 0;
    }

    .social-media nav {
        justify-content: center;
        margin: 5rem;
    }
}
