html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-areas: "logo logo"
        "template main"
        "social-media social-media";
    grid-template-columns: repeat(2, 1fr);
}

.logo {
    grid-area: logo;
}

.logo .logo-area {
    margin: 3.2rem 0 0 5.2rem;
    height: 35px;
}

.template {
    grid-area: template;
}

.template .illustration {
    max-width: 90%;
    display: block;
    margin: 3.2rem 0 0 5.2rem;
}

.main {
    grid-area: main;
    color: var(--primary-color);
    margin-left: 50px;
}

.main .title {
    font-size: 3.6rem;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    margin-top: 50px;
    padding: 15px 210px 0 0;
}

.main .body {
    font-size: 1.6rem;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    padding: 15px 170px 0 0;
}

.main .register {
    all: unset;
    font-size: 1.7rem;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    margin: 30px 0 0 2px;
    color: hsl(257, 40%, 49%);
    background-color: var(--primary-color);
    padding: 8px 50px 11px;
    border-radius: 70px;
    cursor: pointer;
}

.main .register:hover {
    color: hsl(0, 100%, 100%);
    background-color: var(--secundary-color)
}

.social-media {
    grid-area: social-media;
}

.social-media nav {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    margin-right: 100px;
}

.social-media nav li {
    all: unset;
}

.social-media nav li a {
    font-size: 1.5rem;
    color: hsl(0, 100%, 100%);
    border: #fff solid 1px;
    border-radius: 50%;
    padding: 8px;
}

.social-media nav li a:hover {
    border-color: var(--secundary-color);
    color: var(--secundary-color)
}
